LISTEN_PORT=1337
MATTERMOST_WEBHOOKURL=http://192.168.0.134:8065/hooks/zrggy4orw7yy5xak1d3qrk5tza
MATTERMOST_USERNAME=Bitbucket
MATTERMOST_CHANNEL=town-square
MESSAGE_ICON_EMOJI=:exclamation:
INFO_COLOR=3498db
DECLINED_COLOR=e74c3c
WARNING_COLOR=f1c40f
SUCCESS_COLOR=2ecc71